@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Ubuntu:300&display=swap");
.container {
  width: 901px;
  margin: 0 auto;
}
nav main {
  display: inline-block;
}
nav {
  border: 0px;
  margin: 0px auto;
  height: 30px;
  padding: 38px 0px;
  vertical-align: middle;
}
.navigation {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  font-size: 14px;
  display: inline-block;
  font-family: "Playfair Display", serif;
}
.navigation li {
  vertical-align: middle;
  display: inline-block;
}
.navigation li:not(:last-child) {
  margin-right: 110px;
}
.navigation a:hover,
.navigation a:focus {
  color: #3399cc;
}
a {
  text-decoration: none;
  color: rgb(98, 98, 98);
  text-transform: uppercase;
}
.information {
  border: 0px;
  padding: 0%;
  display: inline-block;
}
h2 {
  font-size: 30px;
  color: rgb(98, 98, 98);
  font-family: "Playfair Display", serif;
}
p {
  font-size: 14px;
  color: rgb(98, 98, 98);
  font-family: "Playfair Display", serif;
}
.ubuntu {
  font-size: 14px;
  color: rgb(180, 173, 158);
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
}
article {
  border: 0px;
  width: calc(50% - 29px);
  margin-right: 0%;
  margin-bottom: 143px;
  display: inline-block;
}
article:nth-last-child(2n) {
  padding-right: 54px;
}
article:nth-last-child(-n + 2) {
  margin-bottom: 58px;
}
.button {
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  text-align: center;
  display: inline-block;
}
button {
  display: inline-block;
  width: 164px;
  height: 60px;
  padding: 10px 30px;
  margin: 0 auto;
  text-align: center;
  font-size: 20px;
  font-family: "PlayfairDisplay";
  border: 1px solid black;
  color: rgb(98, 98, 98);
  background-color: white;
}
